{% extends "base.html" %}
{% block content %}
  <h2>Report a Threat</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }} {{ form.title(class="form-control") }}
    {{ form.description.label }} {{ form.description(class="form-control") }}
    {{ form.threat_type.label }} {{ form.threat_type(class="form-control") }}
    {{ form.severity.label }} {{ form.severity(class="form-control") }}
    {{ form.location.label }} {{ form.location(class="form-control") }}
    {{ form.submit(class="btn btn-success mt-2") }}
  </form>
{% endblock %}
